<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Hobby Form</title>
        <link rel="stylesheet" href="styles/create_hobby_popup.css">
    </head>
    <body>

        <h1>Add New Hobby</h1>

        <form action="list-view" method="get" class="form-container">
            <fieldset class="form-fieldset">
                <legend>Title</legend>
                <label>
                    <input type="text" name="title" class="form-input">
                </label>
            </fieldset>

            <fieldset class="form-fieldset">
                <legend>Description</legend>
                <label>
                    <textarea name="description" class="form-input"></textarea>
                </label>
            </fieldset>

            <fieldset class="form-fieldset">
                <legend>Tags</legend>
                <legend>Tag Name:</legend>
                <select class="form-input">
                    <option value="none" name="tag1"></option>
                </select>

                <legend>New Tag Name:</legend>
                <label>
                    <input type="text" name="newTagName" class="form-input">
                </label>

                <legend>Tag Color:</legend>
                <label>
                    <input type="radio" name="tagColor" class="form-input">
                </label>
            </fieldset>

            <fieldset class="form-fieldset">
                <legend>Aloted Time</legend>
                <legend>Start By:</legend>
                <label>
                    <input type="time" name="timer" class="form-input"> 
                </label>
                <legend>End By:</legend>
                <label>
                    <input type="time" name="timer" class="form-input"> 
                </label>
            </fieldset>

            <fieldset class="form-fieldset">
                <legend>Due Date</legend>
                <label>
                    <input type="date" name="dueDate" class="form-input">
                </label>
            </fieldset>

            <!-- <fieldset class="form-fieldset">
                <button>Random Selection</button>
            </fieldset> -->

            <button class="btn-submit" type="submit">Submit Hobby</button>    
        </form>
        
    </body>
</html>

