<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign-In</title>
        <!-- stylesheet -->
        <link rel="stylesheet" href="styles/account_styles.css">
        <!-- favicon -->
        <link rel="icon" type="image/jpg" href="images/favicon.jpg">
    </head>
    <body>
        <!-- sign in form -->
        <h1>The Hobby Lover's Planner</h1>
        <div>
            <form action="list-view" method="post">
                <legend>Sign In!</legend>
                <label>Username: </label>
                <input type="text" name="username">

                <label>Password: </label>
                <input type="text" name="password">
                <button type="submit" id="sign-in">Sign In</button>
            </form>

            <form action="create-account" method="get">
                <button type="submit" id="create">Create Account</button>
            </form>
        </div>


    </body>
</html>