<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Hobby</title>
    </head>
    <body>
        <h1>Hobby List</h1>
        <ul>
            <li></li>
        </ul>

        <button onclick = "history.back()">Back</button>

        <button class="sign-out">Sign Out</button>
        <script type="text/javascript">
            document.getElementsByClassName("sign-out").onclick = function () {
                location.href = "http://localhost:3000/";
            };
        </script>
        
    </body>
</html>