<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Hobby</title>

        <link rel="stylesheet" href="styles/list_view_styles.css">
    </head>
    <body>
          <h1>Hobby List</h1>

          <!-- <button class="sign-out">Sign Out</button>
          <script type="text/javascript">
          document.getElementsByClassName("sign-out").onclick = function () {
          location.href = "http://localhost:3000/";
          };
          </script> -->

          <form action="/" method="get">
               <button type="submit">Sign Out</button>
          </form>

          <form action="create-hobby" method="get">
               <button type="submit">Add Hobby!</button>
          </form>

          <form action="profile" method="get">
               <button type="submit">Profile</button>
          </form>
        
          <div>
               <ul>
                    <hr>

                    <% if (plans.length == 0) { %>
                         <p>There are currently no hobbies listed</p>
                    <% } %>

                    <% for (let i = 0; i < plans.length; i++) { %>
                         <li><b><%= plans[i].title %></b></li>
                         <li><b><%= plans[i].tagColor %></b></li>
                         <hr>
                    <% } %>
               </ul>
          </div>
          <button onclick = "history.back()" id="back">Back</button>

     </body>
</html>