<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logged In</title>
        <!-- favicon -->
        <link rel="icon" type="image/jpg" href="images/favicon.jpg">
        <!-- stylesheet -->
        <link rel="stylesheet" href="styles/account_styles.css">
    </head>
    <body>
        <h1>Successfully Logged In!</h1>

        <form action="list-view" method="get">
            <button type="submit">Continue to Your List of Hobbies</button>
        </form>

    </body>
</html>