<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Profile</title>
          <!-- stylesheet -->
          <link rel="stylesheet" href="styles/account_styles.css">
          <!-- favicon -->
          <link rel="icon" type="image/jpg" href="images/favicon.jpg">

     </head>
     <body>
          <h1>Profile Page!</h1>

          <!-- show username -->
          <p>Username: <%= setUser[0] %></p>
          
          <button onclick = "history.back()" id="back">Back</button>

     </body>
</html>