<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/jpg" href="images/favicon.jpg">
    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/hobby_confirmation.css">
    <title>Removed</title>
</head>
<body>
    <!-- page to notify user a hobby has been removed -->
    <h1>Hobby successfully removed!</h1>

    <button type="submit">Back to list-view</button>
    <button onclick = "history.back()" id="back">Back</button>

</body>
</html>